

body{
background-color: #D4CFD1;
margin:0;
padding:0;
}


header{
padding-top: 30px;
padding-left: 40px;
margin-bottom: 20px;
}

p{
line-height: 26px;
}


h1{
text-transform:uppercase;
font-family:HelveticaNeue;
color:#444444;
}

nav{
clear: both;
padding-bottom: 20px;
float: right;
}

nav ul li{
float: left;
list-style: none;
display: block;
padding: 10px;
}

a img{
outline: 0;
border: 0;
} 	

.video{
margin:0 auto;
display:block;
}

a:link,a:visited{
color: #E22C29;
font-weight: bold;
}
		
a:hover{
color: grey;
}

nav a{
text-decoration: none;
font-size: 25px;
}
	
time{
color: grey;
padding-top: 10px;
display: block;
}

pre{
 color:#14C41A;
 background-color:#000000;
 padding-top:20px;
 padding-bottom:30px;
}

#heading{
color: #E22C29;
text-align: center;
font-size: 50px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
 
#container {
width: 700px;
margin: 0 auto;
background-color:#FFFFFF;
padding:30px 40px;
min-height:800px;
}

#container a{
 text-decoration:none;
 font-family:Helvetica;
 font-size:20px;
}

#post{
padding-bottom: 20px;
}


.post{
 padding:5px 0px;
}

#subject{
font-weight: bold;
color: #E22C29;
font-size: 25px;
padding-bottom: 20px;
}

#date{
color: grey;
}
	
#forkme{
position: absolute;
top: 0px;
right: 0px;
text-decoration:none;
}


#linkedin{
padding-left: 25px;
}	

.clearfix{
 clear: both;
 before: ".";
}
		
.subhead{
margin-left: 392px;
}

.subhead a{
color: grey;
text-decoration: none;
}
	
.subhead p{
padding: 1px;
margin: 0px;
color:grey;
}

.command{

color: #DCA3A3;

}

pre .caption {
 color:#DB0F61;
}