
header h1  {
  text-align:center;
  padding-left:113px;
  margin:5px 0px;
}
	 
header div {
  text-align:center;
}
	 
h1{
  font-family:Exo;
  font-size:32px;
}
	 
h2{
  font-family:Marcellus;
  font-size:20px;
  padding-bottom:2px;
  border-bottom:2px solid #E0E0E0;
  color:#64AAD0;
}
	 
article{
  padding:40px 30px;
  width:750px;
  margin:0 auto;
  background-color:#FFFFFF;
}
	 
section{
  padding-left:40px;
  padding-bottom:20px;
}
	 
body{
  background-color:#F2F2F2;
  padding:0px;
  margin:0px;
}
	 
a:link , a:visited{
  color:#64AAD0;
}
	
ul li , .skill, div {
  padding-bottom:8px;
}
	
.viewsource{
  float:right;
  text-decoration:none;
  padding-right:30px;
}