<!DOCTYPE html>
<html>
<head>
   <title>Reecekol</title>
   <link rel="stylesheet" type="text/css" href="/css/style.css"/>
   <meta charset="utf-8"/>
</head>
<body>
  <div id="container">
  <div id="forkme"><a href="https://github.com/reecekol"><img src="/images/forkme.png" alt="forkme"></a></div>
      <header>
         <div id="heading">REECEKOL</div>
         <div class="subhead"><p><a href="https://twitter.com/reecekol" class="twitter-follow-button" data-show-count="false">Follow @reecekol</a></p></div>
         <div class="subhead" id="linkedin"><a href="http://www.linkedin.com/pub/kole-reece/37/a29/9b1"><p>LinkedIn</p></a></div>
		 <div class="subhead" id="email"><p>kreece@reecekol.com</p></div>
      </header>
   <nav>
     <ul>
        <li><a href="/index.html">Home </a></li>
	    <li><a href="/quotes.html">Favourite Quotes</a></li>
	    <li><a href="/projects.html">Projects</a></li>
     </ul>
   </nav>
   <section class="clearfix">
     {{ content }}
   </section>
  </div>
 <!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!-- Google Analytics-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37613296-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>



</body>
</html>