<!DOCTYPE html>
<html>
<head>
   <title>Reecekol</title>
   <link rel="stylesheet" type="text/css" href="/css/style.css"/>
   <meta charset="utf-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <!-- While The heart remains hidden.The acts it insipres are there for everyone to see.-->
   
</head>
<body>
  <div id="container">
  <div class="media-sprites">
  
  </div>
  <div id="forkme"><a href="https://github.com/reecekol"><img src="/images/forkme.png" alt="forkme"></a></div>
   <section class="clearfix">
     {{ content }}
	 
   </section>
  </div>
 <!-- Twitter -->
<!-- Google Analytics-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37613296-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>



</body>
</html>